.icon-load {
    width: 10%;
    height: 10%;
    animation: animate 2s infinite;
    color: white;
}

@keyframes animate {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(720deg) }
}