.header-chat {
    width: 98%;
    height: 9%;
    background-color: #F5F5F5;
    border-bottom: 2px #DBDBDB solid;
    padding: 0.5% 1%;
    display: flex;
    align-items: center;
    position: relative;
}

.header-chat-image {
    height: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px #DBDBDB solid;
    position: relative;
}

.header-chat-name {
    margin-left: 2%;
    font-size: 15pt;
}


.icon-offline {
    color: #c70000;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16pt;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 2px #c70000, 0 0 4px #c70000;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.icon-manage {
    position: absolute;
    top: 0;
    right: 2%;
    height: 100%;
    font-size: 16pt;
    cursor: pointer;
    color: #3A4153;
}

.icon-manage:hover { color: gray }
.icon-manage:active { color: #e1e1e6 }