.header-menu {
    width: 100%;
    height: 16%;
    background-color: #F5F5F5;
    border-bottom: 2px #DBDBDB solid;
}

.header-menu-top {
    width: 96%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
}

.header-menu-user {
    height: 90%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10pt;
}

.header-menu-image {
    height: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px #DBDBDB solid;
    background-color: white;
    position: relative;
}

.header-menu-bottom {
    width: 96%;
    height: 44%;
    padding: 1% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-menu {
    width: 100%;
    height: 35%;
    border-radius: 10px;
    border: 2px #DBDBDB solid;
    padding: 1% 1% 1% 7%;
    font-size: 12pt;
    outline: none;
    margin-top: -4%;
}

.input-menu::-webkit-scrollbar { display: none }

.input-menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.input-menu:hover, .input-menu:focus { border: 2px black solid }
.input-menu::placeholder { color: #7F7F7F }

.icon-search {
    color: #7F7F7F;
    font-size: 14pt;
    position: absolute;
    left: 4%;
    margin-top: -4%;
}

.icon-search:hover { color: black }

.header-menu-button {
    width: 20%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12pt;
    border: none;
    border: 2px solid#DBDBDB;
}

.header-menu-button:hover { border-color: black }

.header-menu-button:active {
    border-color: gray;
    background-color: #DBDBDB;
}