.body-chatBox {
    width: 98%;
    height: auto;
    display: flex;
    padding: 1%;
}

.body-chatBox-in { justify-content: flex-start }
.body-chatBox-out { justify-content: flex-end }

.body-chatBox-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 2px #DBDBDB solid;
    position: relative;
}

.body-chatBox-message {
    margin-left: 1.5%;
    height: 90%;
    width: auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-chatBox-message-in { align-items: flex-start }
.body-chatBox-message-out { align-items: flex-end } 

.body-chatBox-datetime {
    margin-top: 5px;
    height: 20%;
    width: auto;
    max-width: 100%;
    font-size: 9pt;
    color: gray;
    position: relative;
}

.body-chatBox-text {
    width: calc(100%-30px);
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #3A4153;
    border-radius: 15px;
    font-size: 11pt;
}

.body-chatBox-text-in {
    background-color: #3A4153;
    color: white;
}

.body-chatBox-text-out { background-color: #DFDFDF }

.icon-upd-msg {
    cursor: pointer;
    position: absolute;
    bottom: 0;
 }

.icon-upd-msg:hover { font-size: 16pt }
.icon-upd-msg:active * { color: darkgray }

.icon-edit-msg { right: 115% }
.icon-delete-msg { right: 100% }

.icon-edit-msg:hover { color: orange }
.icon-delete-msg:hover { color: red }