.popup-window {
    width: 20%;
    height: 10%;
    position: absolute;
    bottom: 11.5%;
    right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup-window-close {
    width: 98%;
    height: 25%;
    background-color: #3A4153;
    color: white;
    border: 2px #3A4153 solid;
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    cursor: pointer;
}

.popup-window-close:hover {
    background-color: white;
    box-shadow: 0 0 5px white;
}
.popup-window-close:hover * { color: #3A4153 }

.popup-window-close:active { background-color: #DBDBDB }

.popup-window-info {
    width: 94%;
    height: 100%;
    margin-bottom: 4px;
    padding: 2%;
    background-color: white;
    border: 2px #e1e1e6 solid;
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.popup-window-info * { cursor: pointer }

.popup-window-info:hover {
    border: 2px #3A4153 solid;
    box-shadow: 0 0 5px white;
}
.popup-window-info:active { background-color: #DBDBDB }

.popup-window-image {
    height: 80%;
    aspect-ratio: 1/1;
    border: 2px #DBDBDB solid;
    border-radius: 50%;
    background-color: white;
}

.popup-window-data {
    height: 80%;
    width: 78%;
}

.popup-window-text {
    width: 100%;
    height: 50%;
}

.popup-window-text {
    width: 100%;
    height: 50%;
    color: gray;
    font-size: 9pt;
}

.icon-popup-close {
    height: 100%;
    font-size: 16pt;
    color: white;
}