.body-menu {
    width: 100%;
    height: 84%;
    overflow-y: auto;
}

.body-menu.overflow { width: 99% }

.body-menu-new-chat {
    width: 96%;
    height: 11%;
    border-bottom: 2px #DBDBDB solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 2%;
    gap: 2pt;
    color: gray;
}

.body-menu-new-chat * { cursor: inherit }

.body-menu-new-chat:hover {
    color: black;
    background-color: #f0f0f5;
}

.icon-new-chat { font-size: 16pt }

.body-menu-new-chat-text { line-height: 1 }